<div>
    <input type="text" class="form-control" placeholder="Search: ">
</div>
<hr />
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Curry</td>
                <td>India curry</td>
                <td>$ 5,99</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Sushi</td>
                <td>Matsuya special meat</td>
                 <td>$ 5,99</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Rice</td>
                <td>Japanese rice</td>
                 <td>$ 5,99</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <button type="button" class="btn btn-success">Load more</button>
</div>