<div>
    <input type="text" class="form-control" placeholder="Search: ">
</div>
<hr />
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in products">
                <th scope="row">{{ item._id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <button type="button" class="btn btn-success">Load more</button>
</div>